/******************************************************************************
 * CSS MENU
 * --------
 *
 * 1) Main page elements
 * 2) Typography
 * 3) Toolbox
 *
 * Bon apetit!
 *****************************************************************************/


/******************************************************************************
 * 1) Main page elements
 *****************************************************************************/
html
{
	font-family: Arial;
	background-color: rgb(253,246,227);
}

body
{
	width: 960px;
	margin: 0 auto;
	padding: 15px;
	background-color: #fff;
}

#map_canvas
{
	margin-bottom: 1em;
	width:700px;
	height:400px;
	float: left;
	position: relative;
}

#map_controls
{
	float: left;
	width: 260px;
}

#map_timeline
{
	clear: both;
	margin: 0 20px;
}

.loader
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.6) url(../images/loader.gif) center center no-repeat;
}


/******************************************************************************
 * 2) Typography
 *****************************************************************************/
h1
{
	font-family: Cooper Black, Georgia;
	font-size: 72px;
	margin-bottom: 1em;
	color: rgb(0,102,66);
}

h2
{
	font-family: Cooper Black, Geogia;
	font-size: 24px;
	margin-bottom: 0.5em;
	color: rgb(151,190,13);
}

p, li
{
	line-height: 1.6em;
}

label
{
	cursor: pointer;
}

#sector-filter-list
{
	font-size: 10px;
	text-transform: lowercase;
	height: 300px;
	overflow-y: scroll;
}
#sector-filter-list.loading
{
	color: #999;
}
#sector-filter-list.loading label
{
	cursor: auto;
}
/******************************************************************************
 * 3) Toolbox
 *****************************************************************************/
#map_controls ul
{
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
#map_controls li
{
	padding-left: 0;
	margin-left: 0;
}
